{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'about/style.css'%}">
    <link rel="stylesheet" href="https://github.com/JosiasAurel/Ski/blob/heroku-deploy/ski/static/about/style.css">
    <title>Snippet SKi- About</title>
</head>
<body>
    
  <header class="menu-content">
    {% if user.is_authenticated %}
  <a href="/">Home</a>
         <a href="/skis">Skis</a>
       <a href="/accounts/logout">Logout</a>
        <a href="/about">About</a>
  {% else %}
  <a href="/">Home</a>
         <a href="/register">Register</a>
       <a href="/accounts/login">Login</a>
        <a href="/about">About</a>
  {% endif %}

  <h3>Hello {{ user.username|default:"Guest" }}</h3>
</header>

  <br>
  <h2>About Snippet Ski</h2>

<br>

  <div class="message">
      <p>
          Snippet Ski is developed by <a class="me" href="https://josiasaurel.tech">Josias Aurel</a> to ease the sharing of 
          informative code snippets. 
          <br>
          The project is fully open source under the very permissive MIT License available on GitHub.
          <br>
          Any contributions of yours to the project is very much welcome.
          <br>
          <br>
          <div>
              <h3>Tech Used to Build this app</h3>
              <ul>
                <li>Python</li>
                <li>Django</li>
                <li>SQLite3</li>
                <li>HTML, CSS, JavaScript</li>
                <li>Git</li>
              </ul>
          </div>
      </p>
  </div>
</body>
</html>
