{% load static %}
<!DOCTYPE html>
 <link rel="stylesheet" href="https://github.com/JosiasAurel/Ski/blob/heroku-deploy/ski/static/home/style.css">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ski - Home</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="{% static 'home/style.css'%}">
</head>

<body>
  <header class="menu-content">
    {% if user.is_authenticated %}
    <a href="/">Home</a>
           <a href="/skis">Skis</a>
         <a href="/accounts/logout">Logout</a>
          <a href="/about">About</a>
    {% else %}
    <a href="/">Home</a>
           <a href="/register">Register</a>
         <a href="/accounts/login">Login</a>
          <a href="/about">About</a>
    {% endif %}
  
    <h3>Hello {{ user.username|default:"Guest" }}</h3>
  </header>
  <div class="intro">
    <h2>Ski 🎿</h2>
    <div class="start-c"><a href="#"><button>Join</button></a></div>
    <div class="slogan-c">
      <h3 class="slogan">Easily create and share bit sized code snippets with short explanations</h3>
    </div>
  </div>
  
  <div class="features flex">
    <div class="feature card">
      <div class="f-img-c"><img src="{% static 'home/md.jpg'%}" alt="md" /></div>
      <p>Write in markdown</p>
    </div>
    <div class="feature card">
      <div class="f-img-c"><img src="{% static 'home/share.jpg'%}" alt="share" /></div>
      <p>Share to social media</p>
    </div>
    <div class="feature card">

      <div class="f-img-c"><img src="{% static 'home/brain.jpg'%}" alt="brain" /></div>
      <p>Share knowledge</p>
    </div>
  </div>

  <footer>
    <h2><> by <a class="me" href="https://josiasaurel.tech">Josias Aurel</a></h2>
  </footer>
  <script src="{% static 'home/main.js'%}"></script>
</body>
</html>
