{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/login.css' %}">
    <title>Snippet Ski - Login</title>
</head>
<body>
    
    <header>
        <h2>Snippet Ski Login</h2>
    </header>

    <form action="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

</body>
</html>