* {
  box-sizing: border-box;
}

body {
  font-size: 15pt;
  font-family: monospace;
  background-color: #e6fcff;
}

.intro > h2 {
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-start;
}

.menu-content {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #2bf8c4;
}

.slogan-c {
  margin-top: 50px;
}

.slogan {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: solid;
  border-color: transparent;
  border-radius: 5px;
  background-color: white;
  margin: 4%;
}

.features {
  flex-direction: column;
}

.feature {
  padding: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.feature > p {
  text-align: center;
}

.f-img-c {
  display: flex;
  justify-content: center;
}

.start-c {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  background-color: #11a0f9;
  border: solid;
  border-color: transparent;
  border-radius: 5px;
  padding: 14px;
}

button:focus {
  outline: none;
  border: 2px double skyblue;
}

.me {
  text-decoration: none;
  color: grey;
  border-bottom: 2px dotted skyblue;
}

footer > h2 {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .flex {
    display: flex;
    justify-content: space-evenly;
  }
}
