* {
  box-sizing: border-box;
}

body {
  font-size: 15pt;
  font-family: monospace;
  background-color: #e6fcff;
}

header {
  display: flex;
  justify-content: flex-start;
}

.menu-content {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #2bf8c4;
}

.message {
  display: flex;
  justify-content: space-evenly;
}

.me {
  text-decoration: none;
  color: grey;
  border-bottom: 2px dotted skyblue;
}
