form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

input {
  border: solid;
  border-color: rgb(37, 193, 255);
  color: gray;
  padding: 2%;
  border-radius: 5px;
}

button {
  border: solid;
  border-color: rgb(37, 193, 255);
  color: gray;
  padding: 2%;
  border-radius: 5px;
}

input:focus,
button:focus {
  outline: none;
}
